---
layout : layouts/base.njk
---

	<!-- Intro -->
	<section class="intro">
		<header>
			<h1>
				<a href="{{ data.product }}">{{ data.app_title }}</a>
			</h1>
			<p>
				Site de simplu de prezentare. Un produs WebsiteMarket. 
			</p>
			<ul class="actions">
				<li><a href="#first" class="arrow scrolly"><span class="label">Mai Mult</span></a></li>
			</ul>
		</header>
		<div class="content">
			<span class="image fill" data-position="center"><img src="images/pic01.jpg" alt="" /></span>
		</div>
	</section>

	<!-- Section -->
	<section id="first">
		<header>
			<h2>
				Despre noi
			</h2>
		</header>
		<div class="content">
			<p>
				<strong>Pensiunea</strong> noastra este o oaza de liniste pozitionata intre munti, inconjurata de paduri dese.
				Turistii care ne trec pargul, sunt de obicei familii care isi doresc cateva zile de odihna alaturi de copii si rude apropiate.
			</p>
			
			<span class="image main"><img src="images/pic02.jpg" alt="" /></span>
		</div>
	</section>

				<!-- Section -->
				<section>
					<header>
						<h2>
							Ce va oferim
						</h2>
					</header>
					<div class="content">
						<p>
							<strong>Pensiunea</strong> va pune la dispozitie servicii de cazare in camere spatioase, 
							un meniu cu preparate traditonale, proaspete si pregatite de bucatari cu experienta. 
							Indiferent de perioada din an, suntem bucurosi de oaspeti, pensiunea fiind deschisa tot anul. 
						</p>
						<ul class="feature-icons">
							<li class="icon solid fa-envelope">{{ data.email }}</li>
							<li class="icon solid fa-gift">Parcare Gratuita</li>
							<li class="icon solid fa-bolt">Asistenta 24/7</li>
							<li class="icon solid fa-signal">WiFi Gratuit</li> 
						</ul>
						<p>
							Un site de prezentare cu un design modern te va ajuta sa comunici optim cu viitorii cienti, fara a aloca o resursa umana.
						</p>
					</div>
				</section>

				<!-- Section -->
				<section>
					<header>
						<h2>
							Servicii
						</h2>
					</header>
					<div class="content">

						<p>
							Motive sa alegi pensiunea noastra pentru urmatorul tau concediu.
						</p>

						<!-- Section -->
						<section>
							<header>
								<p>
									Serviciile oferite de pensiunea nostra sunt de calitate, dovada fiind faptul ca avem clienti care se intorc 
									de ani de zile pentru a se bucura de natura si liniste in locatia noastra.
								</p>
							</header>
							<div class="content">
								<div class="gallery">
									<a href="images/gallery/fulls/01.jpg" class="landscape"><img src="images/gallery/thumbs/01.jpg" alt="" /></a>
									<a href="images/gallery/fulls/02.jpg"><img src="images/gallery/thumbs/02.jpg" alt="" /></a>
									<a href="images/gallery/fulls/03.jpg"><img src="images/gallery/thumbs/03.jpg" alt="" /></a>
									<a href="images/gallery/fulls/04.jpg" class="landscape"><img src="images/gallery/thumbs/04.jpg" alt="" /></a>
								</div>
							</div>
						</section>

					</div>
				</section>

				<!-- Section -->
				<section>
					<header>
						<h2>
							Cere Informatii 
						</h2>
					</header>
					<div class="content">
						
						<p>
							In cazul in care ai nevoie de mai multe informatii, ne poti suna oricand. Suntem bucurosi sa vorbim cu viitorii nostri clienti. 
						</p>
						
						<ul class="actions">
							<li><a href="{{ data.service }}" class="button primary large">Suna la Pensiune</a></li>
						</ul>
					</div>
				</section>
